body {
		background-color: rgba(27, 49, 100, 0.7);
}

#logBox {
		background-color: rgba(25, 45, 255, 0.8);
		width: 500px;
		padding: 50px;
		margin: 50px;
		position: relative;
		left: 400px;
		top: 110px;
}

.sign {
		background-color: rgba(27, 49, 100, 0.7);
		padding: 3px;
		margin: 2px;
		border: 2px solid black;
}	

form {
		border: 2px solid black;
		padding: 35px;
		margin: 5px;
}

#sigu {
		text-align: center;
}

.textInput {
		position: relative;
		left: 35%;
}

.chooseFi {
		position: relative;
		left: 35%;
}

.subBot {
		position: relative;
		left: 35%;
		padding: 10px 12px;
		margin: 5px;
		background-color: rgba(255, 45, 255, 0.2);
		width: 49px;
}

#butSub {
		background-color: blue;
		color: white;
		border: 3px solid black;
		padding: 3px;
		margin: 2px;
		border-radius: 10px;
}

#butsign {
		background-color: red;
		color: white;
		border: 3px solid black;
		padding: 3px;
		margin: 2px;
		border-radius: 10px;
}


